*{
    margin: 0px;
    padding: 20px;
    background: rgba(255, 255, 255, 0);
    font-weight: normal;
    overflow: auto;
    overflow-x: hidden;
}

.titulo{
    width: calc(100vw - 32px);
    height: 100px;
    padding-inline: 16px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 2px 2px 2px rgb(0, 0, 0, 0.5);
    color: azure;
    background-color:rgb(23, 120, 133);
}

.btnver{
    width: 150px;
    border-radius: 30px;
    background-color: cornsilk;
}

.formopciones{
    background-color: rgb(197, 197, 226);
    align-items: center;
    justify-content: center;
}
#inputpar{
    background-color: cornsilk;
}

.footer{
    color: azure;
    background-color: rgb(23, 120, 133);
}
.resultados{
    background-color: rgb(159, 156, 224);
}
.todotodito{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows: 3fr 7fr 3fr 2fr;

}